/.DS_Store
/Challenges.playground/playground.xcworkspace/xcuserdata/coreywalo.xcuserdatad/UserInterfaceState.xcuserstate
/Challenges.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
